[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "mmtf_spec"]
	path = mmtf_spec
	url = https://github.com/rcsb/mmtf
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
